:root {
	--color-accent: 255 0 61;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-track {
	background: rgb(255 255 255 / 0.15);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgb(var(--color-accent));
}

.wrapper {
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 16px;
	padding: 20px 30px;
	font-family: Gilroy, sans-serif;
	color: #fff;
	height: 100vh;
}

.wrapper > * {
	margin: 2px 0;
}

.wrapper::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(to right, rgb(0 0 0), rgb(0 0 0 / 0) 70%);
	z-index: -1;
}

.heading-wrapper {
	display: flex;
	flex-direction: column;
}

.heading-wrapper .heading {
	font-size: 40px;
	font-weight: 900;
	color: rgb(var(--color-accent));
	text-transform: uppercase;
}

.heading-wrapper .description {
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.title-wrapper {
	display: flex;
	align-items: center;
	gap: 8px;
}

.title-wrapper .title {
	position: relative;
	font-size: 17px;
	font-weight: 700;
	font-family: "Montserrat";
    text-wrap: nowrap;
}

.title-wrapper .title::after {
	content: ""; 
	position: absolute;
	top: 50%;
	left: -0.3em;
	transform: translateY(-40%);
	width: 1.2em;
	height: 1.3em;
	background-image: url(../images/DecorationLines.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.title-wrapper .line {
	flex: 1 1 auto;
	height: 1px;
	background: linear-gradient(
		to right,
		rgb(255 255 255),
		rgb(255 255 255 / 0)
	);
	border-radius: 10px;
}

.section-wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.products-wrapper {
    position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	width: 100%;
}

.product {
	position: relative;
	padding: 10px 8px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	background: linear-gradient(
		to right,
		rgb(255 255 255 / 0.01),
		rgb(255 255 255 / 0)
	);
	border-radius: 5px;
    max-width: 200px;
}

.product::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 5px;
	padding: 2px;
	background: linear-gradient(
		90deg,
		rgb(255 255 255 / 0.036) 0%,
		rgb(255 255 255 / 0) 100%
	);
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: exclude;
	pointer-events: none;
}

.product-header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
    gap: 16px;
}

.product-header .name {
    word-break: break-all;
    overflow-wrap: break-word;
	font-size: 14.5px;
	font-weight: 600;
}

.product-header .price {
	position: relative;
	font-size: 15px;
	font-weight: 500;
	padding: 4px 10px;
	background: linear-gradient(
		to right top,
		rgb(146 255 60 / 0.36),
		rgb(146 255 60 / 0)
	);
	color: #92ff3c;
	border: 1px solid #92ff3c;
	border-radius: 5px;
}

.product-image {
    width: auto;
    height: 100%;
}

.product-button {
	width: 100%;
	padding: 8px;
	background: linear-gradient(
		to top right,
		rgb(255 255 255 / 0.27),
		rgb(255 255 255 / 0)
	);
	border: 1px solid rgb(255 255 255 / 0.27);
	border-radius: 5px;
	outline: none;
	color: #fff;
	font-family: "Montserrat";
	font-weight: 500;
	font-size: 14px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.product-button:hover {
	border: 1px solid rgb(255 255 255);
}

.product .description-wrapper {
    position: absolute;
    top: 0;
    left: calc(100% + 8px);
	width: 250px;
    padding: 18px 22px;
    background: rgb(255 255 255 / 0.06);
    border: 1px solid rgb(255 255 255 / 0.15);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 100;
}

.product:nth-child(odd) .description-wrapper {
    left: calc(200% + 16px);
}

.product:hover .description-wrapper {
    opacity: 1;
}

.product .description-wrapper .description {
    margin-top: 6px;
    font-weight: 500;
    font-size: 15px;
}

.product .description-wrapper .title {
	font-size: 15px;
	font-weight: 700;
	font-family: "Montserrat";
	text-transform: uppercase;
	color: rgb(var(--color-accent));
}

.basket-wrapper {
	max-height: 164px;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	overflow-y: auto;
	direction: rtl;
}

.basket-wrapper > * {
	direction: ltr;
}

.basket-product {
	position: relative;
	padding: 18px 20px;
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(
		to right,
		rgb(255 255 255 / 0.01),
		rgb(255 255 255 / 0)
	);
	border-radius: 5px;
}

.basket-product::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 5px;
	padding: 2px;
	background: linear-gradient(
		90deg,
		rgb(255 255 255 / 0.036) 0%,
		rgb(255 255 255 / 0) 100%
	);
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: exclude;
	pointer-events: none;
}

.basket-product-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.basket-product-label {
	font-weight: 600;
	font-size: 18px;
}

.basket-product-label span {
	color: rgb(255 255 255 / 0.38);
}

.basket-product-price {
	color: rgb(255 255 255 / 0.38);
	font-weight: 500;
	font-size: 16px;
}

.basket-product-price span {
	color: #92ff3c;
}

.basket-product-delete {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	background: linear-gradient(
		to top right,
		rgb(255 0 61 / 0.27),
		rgb(255 0 61 / 0)
	);
	outline: none;
	border: 1px solid rgb(255 0 61 / 0.27);
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.basket-product-delete:hover {
	border: 1px solid rgb(255 0 61);
}

.checkout {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.checkout-total {
	position: relative;
	padding: 18px 20px;
	display: flex;
	align-items: center;
	background: linear-gradient(
		to right,
		rgb(255 255 255 / 0.01),
		rgb(255 255 255 / 0)
	);
	border-radius: 5px;
}

.checkout-total::after {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 5px;
	padding: 2px;
	background: linear-gradient(
		90deg,
		rgb(255 255 255 / 0.036) 0%,
		rgb(255 255 255 / 0) 100%
	);
	mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
	mask-composite: exclude;
	pointer-events: none;
}

.checkout-total-text {
	font-weight: 600;
	font-size: 16px;
}

.checkout-total-text span {
	color: #92ff3c;
}

.checkout-buttons {
	display: flex;
	gap: 8px;
}

.checkout-buttons button {
	flex: 1 1 auto;
	padding: 16px 10px;
	outline: none;
	border-radius: 5px;
	font-family: "Montserrat";
	font-weight: 600;
	font-size: 15px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.checkout-buttons button#card {
	background: linear-gradient(
		to right top,
		rgb(146 255 60 / 0.36),
		rgb(146 255 60 / 0)
	);
	color: rgb(146, 255, 60);
	border: 1px solid rgb(146 255 60 / 0.27);
}

.checkout-buttons button#card:hover {
	border: 1px solid rgb(146 255 60);
}

.checkout-buttons button#cash {
	background: linear-gradient(
		to top right,
		rgb(255 255 255 / 0.27),
		rgb(255 255 255 / 0)
	);
	border: 1px solid rgb(255 255 255 / 0.27);
	color: #fff;
}

.checkout-buttons button#cash:hover {
	border: 1px solid rgb(255 255 255);
}