@import url(https://fonts.googleapis.com/css?family=Pacifico);
@keyframes logoPulse { 0%, to { transform: scale(1) } 50% { transform: scale(1.25) } }
@keyframes slideInFromTop { 0% { opacity: 0; transform: translateY(-100%) } 100% { opacity: 1; transform: translateY(0) } }
@keyframes shake { 0%, to { transform: translateX(0) } 25% { transform: translateX(-5px) } 50% { transform: translateX(5px) } 75% { transform: translateX(-5px) } }

.App {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: auto;
	position: fixed;
	left: 50%;
	top: 50%;
	/* transform: translate(-50%, -50%);  */
	transform:translate(-50%,-50%) perspective(1000px) rotateX(8deg); /* uncomment if you want to tilt the UI (adjust deg) */
}

.App-header {
	background-color: #00000067;
	border: 4px solid #666c1c;
	box-shadow: 0 0 10px 5px #656c1c8f;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-size: calc(1rem + 1vw);
	max-width: 90vw;
	max-height: 60vh;
	min-width: 55vw;
	padding: 2%;
	overflow: hidden;
	position: relative;
	animation: .5s forwards slideInFromTop
}

.close-button {
	background: 0 0;
	border: none;
	color: #fff;
	font-size: 1.9rem;
	font-weight: 700;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer
}

.close-button:hover {
	color: #ff7524
}

.logo-title-container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 10px;
	width: 100%;
}

.logo-title-container h1 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2.0rem;
	font-weight: 700;
	margin: 0;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .555),
	             2px 2px 0 rgba(0, 0, 0, .37),
	             4px 4px 0 rgba(0, 0, 0, .274);
	pointer-events: none;
}

.logo-image {
	animation: 3s infinite logoPulse;
	height: auto;
	width: 35vw;
	max-width: 160px;
	min-width: 75px;
	margin-right: 10px
}

.recipe-container-wrapper {
	display: flex;
	justify-content: center
}

.recipe-container {
	grid-gap: 12px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	justify-content: center;
	margin-top: 5px;
	max-width: 920px;
	width: 100%
}

.recipe-item {
	background-color: rgba(0, 0, 0, .801);
	border: 2px solid #666c1c;
	border-radius: 8px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 10px;
	transition: transform .3s, box-shadow .3s;
	cursor: none;
	height: auto
}

.recipe-item:hover {
	box-shadow: 0 0 6px 2px #868f24
}

.recipe-image {
	border-radius: 8px;
	width: 85px;
	margin: 0 auto 2px;
}

.recipe-image:hover {
	animation: shake .5s
}

.recipe-title {
	color: #ff7524;
	font-size: 1rem;
	text-align: center;
	margin-bottom: 10px
}

.recipe-button {
	background: linear-gradient(45deg, #3b3f10, #666943);

	border-radius: 5px;
	cursor: pointer;
	font-size: .9rem;
	font-weight: 700;
	padding: 8px 5px;
	margin-top: auto;
	transition: background-color .3s
}

.recipe-button.enabled {
	border: 2px #868f24;
	color: #fff
}

.recipe-button.enabled:hover {
	background: linear-gradient(45deg, #666943, #3b3f10);
}

.recipe-button.disabled {
	cursor: none;
	display: none
}

.ingredient-list {
	font-size: .8rem;
	text-align: left;
	list-style-type: none;
	padding: 0
}

.ingredient-list li {
	margin: 5px 0
}

.recipe-amount {
	color: #868f24;
	font-size: .9rem;
	font-weight: 700;
	margin-top: 10px
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%
}

.recipe-container-wrapper {
	display: flex;
	justify-content: center;
	overflow-y: auto;
	width: 100%;
	max-height: 60vh;
	pointer-events: auto;
	scrollbar-color: #666c1c;
	scrollbar-width: thin
}

.recipe-container-wrapper::-webkit-scrollbar {
	width: 8.5px
}

.recipe-container-wrapper::-webkit-scrollbar-track {
	background: #1b1b1b67;
	border-radius: 8.5px
}

.recipe-container-wrapper::-webkit-scrollbar-thumb {
	background: #666c1c;
	border-radius: 6px
}

.recipe-container-wrapper::-webkit-scrollbar-thumb:hover {
	background: #ff7524
}

.recipe-container::-webkit-scrollbar {
	display: none
}

@media only screen and (max-width:768px) {
	.App-header {
		font-size: calc(.8rem + 1vw);
		padding: 5%
	}

	.recipe-item {
		height: auto
	}

	.logo-image {
		width: 100px
	}

	.ingredient-list,
	.recipe-amount,
	.recipe-title {
		font-size: .8rem
	}

	.recipe-button {
		font-size: .8rem;
		padding: 8px 12px
	}
}