.swal-overlay--show-modal .swal-modal {
    will-change: unset !important;
}

.clickable {
    cursor: pointer;
}

.script-name {
    color: #00ff66;
    
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5rem!important;

    line-height: 10vh
}

input.disabled-input {
	cursor: not-allowed;
	user-select: none;
}

.elements-list:not(:empty) + .no-elements-message {
    display: none;
}

.elements-list:empty + .no-elements-message {
    display: block;
}

.thick-hr {
    height: 3px !important;
    color: rgb(90, 90, 90);
    opacity: 1;
}