body, html {
    height: 100%;
    margin: 0;
    background: #f8f9fa;
    background-color: transparent;
    overflow: hidden;
    color: white;
}

.main {
    display: none;
}

.heading {
    font-weight: 600;
}

.select2-dropdown {
    background: #212529;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #000;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #001a44;
}

.btn-primary {
    width: 100%;
    background-color: #E91E63;
    border-color: #000000;
}
.btn-primary:hover {
    background-color: #ff0055;
    border-color: #000000;
}

.img-flag {
    height: 25px;
}

.w-50 {
    width: 40%!important;
    background: #212529;
    padding: 26px;
    border-radius: 10px;
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 35px;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 31px;
}

.form-group {
    margin-bottom: 0.2rem;
}

.mt-4, .my-4 {
    margin-top: 1rem!important;
}

.mt-5, .my-5 {
    margin-top: 2rem!important;
}

.mb-5, .my-5 {
    margin-bottom: 1rem!important;
}

.select2-container {
    width: 100% !important;
    padding: 0;
}

.select2-selection--single {
    height: 38px !important; /* height of the bootstrap input */
}

.select2-selection__rendered {
    line-height: 38px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

.btn-secondary {
    width: 100%;
    color: #fff;
    background-color: #009688;
    border-color: #000000;
}

.btn-secondary:hover {
    background-color: #01bfac;
    border-color: #000000;
}

.col {
    margin-top: 10px;
}

#rankContainer {
    max-height: 300px;
    overflow-y: auto;
    scrollbar-width: none;  /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

#rankContainer::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
}

#fade-out {
    height: 20px;
    margin-top: -20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.form-group .row {
    margin-left: 0;
    margin-right: 0;
}

@font-face {
    font-family: 'pricedownblack';
    src: url('gtafont.woff2') format('woff2'), url('gtafont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#logo {
    font-family: pricedownblack;
    position: absolute;
    right: 280px;
    top: 6px;
    font-size: 30px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
}

#areainfo {
    display: grid;
    font-family: cursive;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#controllingtitle, #yourinfluncetitle, #areanametitle {
    color: #ffffff;
    text-shadow: 1px 1px 5px black;
}

#controlling, #yourinflunce, #areaname {
    text-shadow: 1px 1px 5px black;
}




